body {
  font-family: "Oswald", sans-serif;
}

.sixCaps {
  font-family: "Six Caps", sans-serif;
  letter-spacing: 1vw;
  font-size: 32px;
}

.video {
  margin-top: 6rem;
  width: 100%;
}

.main {
  width: 99%;
  margin: auto;
  gap: 5px;
  display: grid;
  grid-template-areas: "coleccion sale" "accesorios sale";
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 59.36vh 59.36vh;
  /* .main__banner{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: rgb(241, 241, 241);
      letter-spacing: 15px;
      grid-area: banner;
      height: 100%;
      background-image: url(../img/banner.jpg);
      background-attachment: fixed;
      background-size: cover;
      .spanMont{
          font-family: 'Montserrat', sans-serif;
          text-shadow: black 1px 1px 1px;
          font-size: 32px;
      }

  } */
}
.main .main__img {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  opacity: 0.9;
  transition: all 1s;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .main__img:hover {
  transform: scale(1.1);
  overflow: hidden;
  opacity: 1;
}
.main .main__effect {
  transition: all 1s ease-in-out;
  display: inline-block;
  overflow: hidden;
}
.main .main__effect a {
  color: white;
  text-decoration: none;
}
.main:hover .main__effect--span {
  overflow: hidden;
}
.main .main__effect--span {
  font-size: 48px;
  transition: all 1.5s ease-in-out;
  text-shadow: black 1px 1px 1px;
  z-index: 998;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.main .main__effect--bigText {
  font-size: 90px;
}

.main__coleccion {
  position: relative;
  display: inline-block;
  text-align: center;
  grid-area: coleccion;
  height: auto;
}

.main__sale {
  position: relative;
  display: inline-block;
  text-align: center;
  grid-area: sale;
  height: auto;
}

.main__accesorios {
  position: relative;
  display: inline-block;
  text-align: center;
  grid-area: accesorios;
  height: auto;
}

.cardsGroup {
  margin-top: 6rem;
}
.cardsGroup .banner {
  height: 300px;
  width: 100%;
  background-image: url(../img/banner.jpg);
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  letter-spacing: 2.2831050228vh;
}
.cardsGroup .banner .spanMont {
  font-family: "Montserrat", sans-serif;
  text-shadow: black 1px 1px 1px;
  font-size: 3em;
}
.cardsGroup .banner .banner_title {
  font-family: "Oswald", sans-serif;
  text-shadow: black 0.5px 0.5px 0.5px;
}

.cardsGroup__card {
  position: relative;
  transition: all 0.3 ease-in-out;
}
.cardsGroup__card .cardsGroup__card--img {
  transition: 0.3s all ease-in-out;
  overflow: hidden;
}
.cardsGroup__card .cardsGroup__card--img:hover {
  transform: scale(1.1);
  overflow: hidden;
}

.card-title {
  font-family: "Oswald", sans-serif;
}

.card-text {
  font-family: "Montserrat", sans-serif;
}

.border-1 {
  border-color: #f2f2f2;
}

div {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: rgba(0, 0, 0, 0.592);
}

li {
  list-style: none;
}

.item-1 {
  width: 2em;
}

.item-2 {
  width: 4em;
}

.item-3 {
  width: 6em;
}

.nosotros {
  max-width: 1000px;
  margin: 9.8716683119vh auto;
}
.nosotros .nosotros__primer {
  padding: 0 0 100px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.nosotros .nosotros__primer .nosotros__primer--caja {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.nosotros .nosotros__primer .nosotros__primer--caja .nosotros__primer--titulo {
  padding: 0 30px;
  align-self: flex-start;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.nosotros .nosotros__primer .nosotros__primer--caja .nosotros__primer--texto {
  padding: 0 30px;
  font-family: "Montserrat", sans-serif;
}
.nosotros .nosotros__segundo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.nosotros .nosotros__segundo .nosotros__segundo--caja {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.nosotros .nosotros__segundo .nosotros__segundo--caja .nosotros__segundo--titulo {
  align-self: flex-start;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0;
}
.nosotros .nosotros__segundo .nosotros__segundo--caja .nosotros__segundo--texto {
  font-family: "Montserrat", sans-serif;
}
.nosotros .content {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}
.nosotros .contact-wrapper {
  box-shadow: 0 0 20px rgba(128, 128, 128, 0.359);
  padding: 0.3em;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.nosotros .contact-wrapper .contact-form {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 1em;
}
.nosotros .contact-wrapper .contact-info {
  color: #d7d7d7;
  font-family: "Montserrat", sans-serif;
}
.nosotros .contact-wrapper .contact-info .h4 {
  font-family: "Oswald", sans-serif;
}
.nosotros .belleza {
  text-align: center;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  margin: 10px 0 100px 0;
}

.mainSale {
  margin-top: 6rem;
}
.mainSale .banner {
  height: 300px;
  width: 100%;
  background-image: url(../img/banner.jpg);
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  letter-spacing: 2.2831050228vh;
}
.mainSale .banner .spanMont {
  font-family: "Montserrat", sans-serif;
  text-shadow: black 1px 1px 1px;
  font-size: 3em;
}
.mainSale .banner .banner_title {
  font-family: "Oswald", sans-serif;
  text-shadow: black 0.5px 0.5px 0.5px;
}
.mainSale .sale {
  width: 98%;
  margin: auto;
}
.mainSale .sale .col .sale__img--oculta {
  position: absolute;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.mainSale .sale .col .sale__img--oculta:hover {
  opacity: 1;
}

@media only screen and (max-width: 1000px) {
  .main {
    gap: 10px;
    display: grid;
    grid-template-areas: "sale" "coleccion" "accesorios";
    grid-template-columns: 1fr;
    grid-template-rows: 59.36vh 59.36vh 59.36vh;
  }
  .main .main__img {
    width: 100%;
  }

  .nosotros .nosotros__primer {
    flex-direction: column;
  }
  .nosotros .nosotros__segundo {
    flex-direction: column-reverse;
  }

  .cardsGroup, .mainSale {
    width: 100%;
  }
  .cardsGroup .banner, .mainSale .banner {
    letter-spacing: 0;
  }
  .cardsGroup .banner .spanMont, .mainSale .banner .spanMont {
    font-size: 2em;
  }

  .content .contact-wrapper {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 767px) {
  .footer .footer__menu {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */