@mixin textPosition ($gridmain){
    position: relative;
    display: inline-block;
    text-align: center;
    grid-area: $gridmain;
    height: auto;
}
    



.video{
    margin-top: 6rem;
    width: 100%;
}
.main{
    width: 99%;
    margin: auto;
    gap: 5px;
    display: grid;
    grid-template-areas: /* "banner banner" */
                         "coleccion sale"
                         "accesorios sale"
                         ;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: /* 49.66vh */ 59.36vh 59.36vh ;

    /* .main__banner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: rgb(241, 241, 241);
        letter-spacing: 15px;
        grid-area: banner;
        height: 100%;
        background-image: url(../img/banner.jpg);
        background-attachment: fixed;
        background-size: cover;
        .spanMont{
            font-family: 'Montserrat', sans-serif;
            text-shadow: black 1px 1px 1px;
            font-size: 32px;
        }
    
    } */


    .main__img{
        max-width: 100%;
        max-height:100%;
        height: 100%;
        opacity: 0.9;
        transition: all 1s;
        object-fit: cover;
        &:hover{
            transform:scale(1.1);
            overflow: hidden;
            opacity: 1;

        }
    }
    .main__effect{
        transition: all 1s ease-in-out;
        display: inline-block;
        overflow: hidden;
        a{
            color: white;
            text-decoration: none;
        }
        

        }
        &:hover .main__effect--span{
            overflow: hidden;
        }
        .main__effect--span{
            font-size: 48px;
            transition: all 1.5s ease-in-out;
            text-shadow: black 1px 1px 1px;
            z-index: 998;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            
        }
        .main__effect--bigText{
            font-size: 90px;
        }

    }
    .main__coleccion{
        
        @include textPosition(coleccion);
    }
    .main__sale{
        
        @include textPosition(sale);
        
        
    }
    .main__accesorios{
        
        @include textPosition(accesorios);
    }
  